.Main {
  font-weight: bold;
}
.home-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 10px;
}
.HomeSearch {
  display: flex;
  border: 1px solid rgb(8, 109, 177);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.update{
  box-shadow : inset 0 0 10px rgba(76, 98, 119, 0.468);
  width:65%;
}
.mainIcon ion-icon {
  font-size: 8vh;
  
}
.Main ion-card{
  margin: 8px;
}

.Main ion-col {
  padding: 0;
  max-height: 25vh;
  
}

ion-card-content {
  padding: 0;
}
.dove {
    z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}
.dove img {
  height: 32vh;
}

.main-end h6{
    font-weight: bold;
    margin: 0;
}
.main-end p{
    margin: 0;
}
.main-end ion-row{
    border-bottom: 1px solid lightblue;
    border-radius: 3px;
    margin: 7px;
    padding: 10px;
}
.transparentToolbar{
  /* --border-color: 1px solid red; */
}