.login h1 {
  color: rgb(3, 52, 61);
  margin-left: 20px;
  font-size: 2.1em;
  font-weight: bold;
  
}
.login .border{
  border: 1px solid #2A93D5;
  border-radius: 8px;
  margin: 10px;
}
.ellipse-1 {
  position: absolute;
  left: 130px;
  top: -35px;
  background-image: radial-gradient(#2a93d5, #add9d8ab);
  border-radius: 50%;
  height: 240px;
  width: 253px;
  z-index: -1;
}
.ellipse-2 {
  position: absolute;
  left: -35px;
  top: 200px;
  background-image: radial-gradient(#25c8fa, #add9d8ab);
  height: 310px;
  width: 323px;
  border-radius: 50%;
  z-index: -1;
}
.ellipse-3 {
  position: absolute;
  bottom: -10px;
  left: 50px;
  background-image: radial-gradient(#25c8fa, #add9d8ab);
  height: 240px;
  width: 253px;
  border-radius: 50%;
  z-index: -1;
}
